
header {
  display: flex;
  justify-content: space-evenly;
}


body {
  margin: 0 auto;
}

.main-flexbox {
  display: flex;
  justify-content: space-evenly;
  background-image: url(../assets/allBackground.png);
  background-size: cover;
}



.currentHS {
  display: flex;
  flex-direction: column;
}

.HSbar {
  background-color: red;
  width: 517px;
  /* margin-top: 100px; */
  
}

.currentHS .HSImage {
  background-image: url(../assets/rick-commanderHS.png);
  width: 300px;
  height: 850px;
  background-size: 350px;
  background-repeat: no-repeat;
  background-color: royalblue;
}



.top-bar {
  background-color: red;
  width: 517px;
  /* margin-top: 100px; */
  
}

.game-wrapper {
  flex-basis: 7in;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 850px;
  margin-top: 0;
} 

.button-rickChar {
background-image: url(../assets/rick-char.png);
background-repeat: no-repeat;
background-position: center;
background-size: 80px;
height: 100px;
width: 80px;
}

.button-mortyChar {
  background-image: url(../assets/one-true-morty-char.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  height: 100px;
  width: 80px;
  }

  .button-rickComChar {
    background-image: url(../assets/rick-commander-char.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    height: 100px;
    width: 80px;
    }


.grid {
  display: flex;
  background-image: url(../assets/background.gif);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 798px;
  width: 517px;
}

.grid div {
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

.grid .rickPlayer {
  background-image: url(../assets/rick-sprite.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid .rickComPlayer {
  background-image: url(../assets/rick-commander-back.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid .mortyPlayer {
  background-image: url(../assets/true-morty-back.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid div.pickle-rick {
  background-image: url(../assets/pickle-rick.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
  
  .grid div.jerry {
    background-image: url(../assets/jerry-sprite.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .grid div.laser {
    background-image: url(../assets/laser.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .grid div.bomb {
    background-image: url(../assets/bomb.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .grid div.jerry-explosion {
    background-image: url(../assets/jerry-explosion.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }


  .grid div.rick-explosion {
    background-image: url(../assets/rick-explosion.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .grid div.pickle-explosion {
    background-image: url(../assets/pickle-explosion.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }