
body {
  margin: 0 auto;
  font-family: 'Baloo Paaji 2', cursive;
}

.main-flexbox {
  display: flex;
  background-image: url(../assets/allBackground.png);
  background-size: cover;
  background-attachment: fixed;
}

.currentHS {
  display: flex;
  flex-direction: column;
  align-items:  center;
  margin-left: 50px;
}

.HSbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  color: aliceblue;
  text-shadow: 0 0 10px rgb(11, 236, 11),
  0 0 10px rgba(225, 241, 3),
  0 0 5px rgba(201, 17, 238);
}

.HSbar p {
  margin-top: 30px;
  margin-bottom: 10px;
}

.HSImage {
  width: 360px;
  height: 850px;
  background-size: 350px;
  background-repeat: no-repeat;
  margin-top: 3px;
}

.HSrickCom {
  background-image: url(../assets/rick-commanderHS.png);
}

.HSrick {
  background-image: url(../assets/rick-HS.png);
}

.HSmorty {
  background-image: url(../assets/true-mortyHS.png);
}

.champ {
  font-size: 30px;
  color: rgb(229, 241, 233);
  margin:0;
  text-shadow: 0 0 10px rgb(11, 236, 11),
        0 0 10px rgba(225, 241, 3),
        0 0 5px rgba(201, 17, 238);
}

.game-score-bar {
  display: flex;
  justify-content: center;
  width: 517px;
}

#score { 
  font-size: 30px;
}

.game-wrapper {
  flex-basis: 5in;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 850px;
  margin-right: 250px;
  margin-left: 130px;
} 

.choosePlayer {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  text-shadow: 0 0 10px rgb(215, 0, 243),
  0 0 10px rgb(3, 98, 241),
  0 0 5px rgb(201, 17, 238);
  margin-top: 10px;
  align-items: center;
}

.play-button-rick, .play-button-rickCom, .play-button-morty {
  background-color: rgba(236, 236, 140, 0.3);
  box-shadow: 0 0 15px 11px rgba(243, 243, 170, 0.3);
  background-image: url(../assets/rick-char.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 160px;
  width: 130px;
  margin-top: 75px;
  border-radius: 65px;
  border: none;
  outline: none;
  font-size: 10px;
  color: aliceblue;
  text-shadow: 0 0 10px rgb(215, 0, 243),
  0 0 10px rgb(3, 98, 241),
  0 0 5px rgb(201, 17, 238);
}

.button, #rickChar {
  background-image: url(../assets/rick-char.png);
  background-size: 115px;
  }
  
  .button, #mortyChar {
    background-image: url(../assets/one-true-morty-char.png);
    background-size: 100px;
    }
  
    .button, #rickComChar {
      background-image: url(../assets/rick-commander-char.png);
      background-size: 75px;
      }

.grid {
  display: flex;
  background-image: url(../assets/background.gif);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 798px;
  width: 517px;
  border-radius: 30px;
  box-shadow: 0 0 20px 20px rgba(0, 243, 0, 0.5),
        0 0 30px 40px rgba(225, 241, 3, 0.5),
        0 0 45px 60px rgba(201, 17, 238, 0.5);  
}

.grid div {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.grid .rickPlayer {
  background-image: url(../assets/rick-sprite.png);
}

  .grid .rickComPlayer {
    background-image: url(../assets/rick-commander-back.png);
}

    .grid .mortyPlayer {
      background-image: url(../assets/true-morty-back.png);
}

.grid div.pickle-rick {
  background-image: url(../assets/pickle-rick.gif);
}
  
  .grid div.jerry {
    background-image: url(../assets/jerry-sprite.gif);
  }


.grid div.rickWeapon {
    background-image: url(../assets/laser.png);
}

  .grid div.rickComWeapon {
      background-image: url(../assets/rick-com-weapon.gif);
}

    .grid div.mortyWeapon {
        background-image: url(../assets/morty-weapon.gif);
}

  .grid div.bomb {
    background-image: url(../assets/bomb.gif);
  }

  .grid div.jerry-explosion {
    background-image: url(../assets/jerry-explosion.gif);
  }

  .grid div.rick-explosion {
    background-image: url(../assets/rick-explosion.gif);
  }

  .grid div.pickle-explosion {
    background-image: url(../assets/pickle-explosion.gif);
  }

  #overlay {
    font-size: 30px;
    color: rgb(208, 189, 238);
    position: fixed;
    display: block; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
  }