body {
  margin: 0 auto;
}

.main-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar {
  background-color: red;
  width: 517px;
  margin-top: 100px;
  
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 850px;
  margin-top: 0;
}


.grid {
  display: flex;
  background-color: pink;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 658px;
  width: 517px;
}

.grid div {
  border: 1px solid black;
  width: 45px;
  height: 45px;
}

.grid div.rick {
  background-image: url(../assets/rick-sprite.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
  
  .grid div.jerry {
    background-image: url(../assets/alien-jerry-sprite.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .grid div.laser {
    background-image: url(../assets/laser.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .grid div.bomb {
    background-image: url(../assets/bomb-sprite.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  /* function startGame() {
    const timerId = setInterval(() => {
      for (let i = 0; i < 7 && i < 16; i++) {
        for (let j = 9; j < 16; j++) {
          cells[i].classList.add('jerry')
          cells[j].classList.add('jerry')
        }
      } 
      
    }, 2000)
  
  } */